nav .logo {
  height: 30px;
}

nav {
  font-family: 'Bebas Neue', sans-serif;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav div *+* {
  margin-left: 1rem;
}

nav * {
  color: var(--white);
  text-decoration: none;
}

/* PROJECTS GRID*/
section.projects{
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.projects h1{
  font-family: Brasika;
  color: var(--emerald);

  font-size: 4rem;
  line-height: 4rem;

  margin-top: 2rem;
}

section.projects h2{
  font-family: 'Archivo Black', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

section.projects .grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr auto;
  gap: 1rem;
}